@page
@model AgroNuevo.App.Frontend.Pages.LoginModel
@{
}
<form method="POST">

<section class="registro">
<h1> INGRESO   </h1>

    <input class="controls" type="text" name="User" placeholder="Ingresa tu usuario      ">
    <input class="controls" type="password" name="Pass" placeholder="Ingresa tu clave     ">
    <br><br>
     <div class = "btn-item">  
       <center>  <input type="submit" value="Iniciar Sesion"> </center>
     </div>
    <br> 

</section>
</form>
    
           
          
     
    
   
        
     
    
    
    




<link rel="stylesheet" href="~/css/Dos.css" type="text/css">